.board{
    width:90%;
    margin: auto;
    margin-top: 2rem;
    height:calc(95vh - min(20vh , 100px));
    background:rgb(148, 220, 229);
    display:grid;
    grid-template-rows: repeat(25 , 1fr);
    grid-template-columns: repeat(50 , 1fr);
    gap: 1px;
    border: solid rgb(255, 255, 255);
}

.board .cell{
    display:flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.wall {
    background:rgb(47, 24, 101) !important
}

.visited{
    background:rgb(237, 173, 105) !important;
    transition:all 8ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.path{
    background:rgb(66, 202, 39) !important ;
    transition:all 8ms cubic-bezier(0.075, 0.82, 0.165, 1);
}